src/main/mule/sftp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="db44349f-adcd-4eab-9e5d-3b66ce560582" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<sftp:config name="SFTP_Config" doc:name="SFTP Config" doc:id="40a80725-ca09-4860-8138-7a215c0afc98" >
		<sftp:connection host="192.168.12.3" username="zz066" password="CADth19@" workingDir='#["/users/zz066/files"]'/>
	</sftp:config>
	<flow name="sftpFlow" doc:id="999c6b5f-8b22-48b0-9ee2-9601bfc9b564" >
		<http:listener doc:name="Listener" doc:id="2f3fe279-ce37-49fe-a6ae-827af76ff937" config-ref="HTTP_Listener_config" path="test"/>
		<sftp:list doc:name="List" doc:id="354fb29a-dba0-4139-84f4-1e8718031611" config-ref="SFTP_Config" directoryPath='#["/users/zz066/files"]'/>
		<ee:transform doc:name="Transform Message" doc:id="091ed5e5-3b41-4172-9422-bb8417095bf4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0].attributes.fileName]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="670952ab-46ab-40af-8c0c-9aa0fb8a4f3c" message="#[payload]"/>
	</flow>
</mule>
